<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.mapper.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guigu.pojo.Cart">
        <id column="cartid" property="cartid" />
        <result column="uid" property="uid" />
        <result column="cid" property="cid" />
        <result column="quantity" property="quantity" />
    </resultMap>

    <select id="selectusergwc" resultType="cart">
        select * from cart where cid in  <foreach collection="list" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>  and uid=#{cart.uid}
    </select>

    <select id="selectcartone" resultType="cart">
        select * from cart where cid = #{i} and uid=#{uid}
    </select>

    <delete id="scbyid" parameterType="int">
        delete from cart where cid = #{i} and uid=#{uid}
    </delete>
</mapper>
