<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guigu.pojo.Category">
        <result column="cateid" property="cateid" />
        <result column="parentid" property="parentid" />
        <result column="name" property="name" />
        <result column="state" property="state" />
        <result column="sortorder" property="sortorder" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

</mapper>
