<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.mapper.CommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guigu.pojo.Commodity">
        <id column="id" property="id" />
        <result column="cateid" property="cateid" />
        <result column="proname" property="proname" />
        <result column="prosubtitle" property="prosubtitle" />
        <result column="prozimg" property="prozimg" />
        <result column="proimage" property="proimage" />
        <result column="prodetails" property="prodetails" />
        <result column="prosprice" property="prosprice" />
        <result column="quantity" property="quantity" />
        <result column="status" property="status" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

</mapper>
