<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.mapper.GatherInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guigu.pojo.GatherInfo">
        <id column="Id" property="Id" />
        <result column="tracking _number" property="tracking Number" />
        <result column="Gather_type" property="gatherType" />
        <result column="Gtime" property="Gtime" />
        <result column="Is_check" property="isCheck" />
        <result column="all_specified" property="allSpecified" />
        <result column="Is_delete" property="isDelete" />
    </resultMap>

</mapper>
