<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.mapper.GoodsSuppliedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guigu.pojo.GoodsSupplied">
        <id column="ID" property="id" />
        <result column="Goods_details" property="goodsDetails" />
        <result column="Supplier_name" property="supplierName" />
        <result column="price" property="price" />
        <result column="Cid" property="Cid" />
        <result column="gImage" property="gImage" />
    </resultMap>

</mapper>
