<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace设置为  接口的：成包名+接口名字 -->
<mapper namespace="com.guigu.mapper.MenuRolerMapper">
    <resultMap id="menurolemap" type="MenuRole">
        <result property="mid" column="mid"></result>
        <result property="rid" column="rid"></result>
    </resultMap>
    <select id="querymenuforRoleId" parameterType="int" resultMap="menurolemap">
            select mr.mid,mr.rid from sys_menus m
            left join menu_role mr on m.ID = mr.mid
            where m.PARENT_ID != 0 and mr.rid=#{rid}
    </select>
</mapper>