<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace设置为  接口的：成包名+接口名字 -->
<mapper namespace="com.guigu.mapper.RegisterMapper">
    <select id="CheckUserName" parameterType="String" resultType="Integer">
        SELECT * FROM userinfo WHERE username=#{username}
    </select>

    <select id="CheckLoginName" parameterType="String" resultType="Integer">
        SELECT * FROM userinfo WHERE loginname=#{loginname}
    </select>

    <insert id="RegisterUser" parameterType="Userinfo">
        INSERT INTO userinfo VALUE(NULL,#{username},#{loginname},#{password},#{phone},DEFAULT,NULL,#{imgpath},1,0,NULL,NULL,NULL,NULL,null)
    </insert>
</mapper>