<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.mapper.RetreatGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guigu.pojo.RetreatGoods">
        <id column="ID" property="id" />
        <result column="Goods_name" property="goodsName" />
        <result column="Price" property="Price" />
        <result column="num" property="num" />
        <result column="thTime" property="thTime" />
    </resultMap>

</mapper>
