<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.mapper.WarehouseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guigu.pojo.WarehouseInfo">
        <id column="Id" property="Id" />
        <result column="war_name" property="warName" />
        <result column="war_max_stock" property="warMaxStock" />
        <result column="is_check" property="isCheck" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
